{% extends "layout.njk" %}
{% block  content %}
<header class="d-flex justify-content-center py-3">
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link " aria-current="page">Home</a></li>
    <li class="nav-item"><a href="/new" class="nav-link">Write</a></li>
    <li class="nav-item"><a href="/forum" class="nav-link active">Forum</a></li>
    <li class="nav-item"><a href="/register" class="nav-link">Register</a></li>
    <li class="nav-item"><a href="/profile" class="nav-link">Profile</a></li>
  </ul>
</header>

<div class="center3">
  <div class="box">
    <div class="grid">
  <h1>{{ post.title }}</h1>
  <h2 class="right"> <a class="link" href="/users/{{ post.authorId }}">{{ post.username }}</a></h2>
  </div>
  <br>
    <h5>{{ post.content }}</h5>
    <br>
  </div>
  <p>{{ post.createdAt }}</p>

  <form action="/comment" method="post">
    <textarea name="postId" id="postId" cols="0" rows="0" placeholder="postId" hidden>{{ post.id }}</textarea>
        <label for="content">Innehåll</label>
        <br>
        <textarea name="content" id="content" cols="30" rows="10" placeholder="Write here, at least 10 characters"></textarea>
        <br>
        <button class="btn btn-primary" type="submit">Kommentera</button>
    </form>
</div>
  

{% endblock %}